/* Estilos para o formulário */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form select {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #0062cc;
}

/* Estilos para a seção de resultado */
.resultado {
    max-width: 600px;
    margin: 40px auto;
    text-align: center;
}

.resultado h2 {
    margin-bottom: 20px;
}

.resultado a,
.resultado video {
    display: block;
    max-width: 100%;
    margin: 20px auto;
}

/* Estilos para anúncios */
.ad {
    max-width: 600px;
    margin: 40px auto;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
}

.ad img {
    max-width: 100%;
    margin-bottom: 10px;
}

.ad p {
    font-size: 16px;
}
